form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; padding-right: 20px;}
input { display: table-cell;}

.mailbox{
  border-collapse: collapse;
  align-self: center;
  width: 50%;
}

.mailbox th , td {
  text-align: left;
  padding: 8px;
}
.mailbox tr:nth-child(even){background-color: #f9f9f9}

.mailbox th {
  background-color: #3F3F3F;
  color: white;
}

.msgbox{
  padding-top: 30px;
}
td {
  column-span: all;
}
.msgbox input { display: table-cell;
  border: 0;
  background-color: #e8e8e8;
  width:100%
}
.msgbox textarea{
  width:100%;
  border: 0;}

  .msgbox button{
    padding-right: 10px;
  }

  .msgbox div{
    padding-left: 7px;
  }
